.form {
  display: flex;
}

.input {
  padding: 25px 4px;
  width: 100%;
  height: 20px;
  z-index: tooltip;
  position: relative;
  border-radius: 10px;
  border: none;
  background: #f8fafb;
  color: #8e939d;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.sendButton {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ddba47;
  padding: 20px;
  display: inline-block;
  border: none;
  width: 20%;
}
